.board {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	height: 300px;
	border: 1px solid black;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 33.33%;
	align-items: flex-start;
}

.square {
	width: calc(100% / 3);
	height: calc(100% / 3);
	border: none;
	box-sizing: border-box;
	text-align: center;
	font-size: 48px;
	line-height: calc(100% / 3);
	cursor: pointer;
	background-color: #EEE;
	color: #333;
	transition: background-color 0.2s ease-in-out;
}

.square:hover {
	background-color: #DDD;
}

.winning-square:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 5px;
  background-color: red;
  transform: translateY(-50%);
}
