.board {
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	height: 300px;
	border: 1px solid black;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 33.33%;
}

.square {
	width: 33.33%;
	height: 100%;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: center;
	font-size: 72px;
	line-height: 200px;
	cursor: pointer;
}
